.main-login-reg {
    padding: 1em 0;
    position: relative;
    margin: 0 auto;
    min-height: 100%;
}

.form {
    width: 300px;
    margin: 0 auto;
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translateY(-50%) translateX(-50%);*/
    padding: 1em 2em;
    background-color: #beded2;
    border-radius: 10px;
    border-color: #bbde94;
    box-shadow: 0 0 10px #273437;
    text-align: left;
}
.login{
    margin-top: 8%;
}

.input {
    width: 100%;
    margin: 10px 0 15px;
    padding: 3px;
    border: 0px;
    font-size: 13px;
}
.label{
font-size: 14px;
}

#input-file{
    display: none;
}
.input-file-label{
    display: inline-block;
    width: 100%;
    cursor: pointer;text-align: center;
    margin-bottom: 15px;
}

#submit {
    width: 100%;
    background-color: #273437;
    margin: 5px 0;
    padding: 3px;
    border: 0;
    font-size: 15px;
    color: #beded2;
    cursor: pointer;
}

.error {
    color: red;
    font-style: italic;
    font-size: smaller;
}

.navto {
    display: block;
    width: 100%;
    margin-top: 10px;
    color: #273437;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
}

.successLogin {
    width: 100%;
    color: blue;
    font-size: larger;
    text-align: center;
}